*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
div{
    padding: 0px 300px 0px 200px;
}
#inicio{
    width: 700px;
    height: 700px;
    background-size: contain; 
    background-position: top;
    background-repeat:initial;
    
}

a.indice{  
    padding: 30px;
    font-size: 30px;
    color:ivory;
    font-family: Arial;
}
h1{
    font-family: 'Arial';
    font-weight:lighter;
    line-height: 1.5;
}
h2{
    color:silver;
    font-family: 'Arial';
    font-weight:600;
    font-size: small;
    line-height: 2;
    margin-bottom: 110px;
}
p{font-family: 'Arial';
    font-size: large;
    line-height: 1.5;
    margin-bottom: 30px;

}
p{font-family: 'Arial';
    font-size: large;
    line-height: 1.5;

}

#listacontenido{
    list-style-type: none;
    color:silver;
    font-family: 'Arial';
    font-weight:600;
    font-size: small;
    line-height: 3;
    padding-top: 100px;
    padding-bottom: 100px;
}
li{
    list-style-type: none;  
}
a.nopagina:link{
    color:silver;
    font-family: 'Arial';
    font-weight:600;
    font-size: small;
    line-height: 3;


}
a.pagina:link{
    color:silver;
    font-family: 'Arial';
    font-weight:600;
    font-size: small;
    line-height: 3;
   
    
}
a.nopagina:visited{   
    color:silver;
    font-family: 'Arial';
    font-weight:600;
    font-size: small;
    line-height: 3;

}
 a.pagina:visited{
    
    color:silver;
    font-family: 'Arial';
    font-weight:600;
    font-size: small;
    line-height: 3;

 }
 a.nopagina:hover{
    text-decoration: line-through;
    color:silver;
    position: relative;
    top: 10px;
    left: 10px;
}

a.pagina:hover {
     
    color: hotpink;
    text-decoration: underline;
    position: relative;
    top: 5px;
    left: 5px;
        
      }
ul{
    list-style-type: none;
    padding-left: 0;
}
#pie{
    background-color: black;
    color: aliceblue;
    font-family: 'Arial';
    font-size: x-large;
    line-height: 3;
    padding: 150px 300px 200px 200px;
    
}