@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#fondoazul{
    background-color: #110f7f; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
}
#indice{
    text-align:center; 
    color: #110f7f; 
}
h1{
    font-family: 'Playfair Display', serif;
    animation-duration: 3s;
    animation-name: slidein;
}
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
p{
    font-family: 'Raleway', sans-serif;
    font-size: larger;
}
div{
    margin-top:2%;
}
li{
    list-style: none;
}
a:link{
    color: #110f7f;  
}
a:visited{
    color: #110f7f;
}
h1:hover{
    color:black;
   }
.carousel-item {
    text-align: center;
}
.carousel-inner img {
    width: auto;
    max-height: 700px;
}
main {
    background-color: black;
}
footer{
    background-color: #110f7f; 
    
}




